* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'lato';
}

.container {
    display: flex;
    width: 70%;
    height: 100vh;
    margin: 0 auto;
}

.slider-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 80%;
}

.slider-wrapper .images {
    height: 100%;
    text-align: center;
    width: 100%;
}

.slider-wrapper .images img {
    height: 100%;
    width: 100%;
}

.prev, .next {
    color: grey;
    font-size: 38px;
    cursor: pointer;
}